.header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "header-logo  header-nav";
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(47, 128, 237, 0.1);
    
    &-logo{
        grid-area:header-logo;
        grid-column: 1/2;
    }

    &-btn{
        grid-area:header-nav;
        grid-column: 5/6;
    }
    
}