* {
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
}
body {
  background: #f7f7f7;
}
p {
  color: #152766;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
}

a {
  color: #152766;
}

.App {
    display: grid;
   
    grid-template-areas:
    "header header"
    "Nav MainContent";
 

    
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
