*{
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
}

a{
  color:#000;
}

.wrapperApp{

  display: grid;
  grid-template-areas: 
  "header header"
  "nav MainContent";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  &__content{
    grid-row: "c";
    
    
  }

}

.header{
  grid-area: header;
}

.nav{
  grid-area: nav;
}

.MainContent{
  grid-area: MainContent;
}