.wrappPagination{
    display: inline-block;
}

.pageCount{
    padding: 5px;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    cursor: pointer;
}

.selectedPage{
    font-weight: bold;
    border: 1px solid black;
}

.selectPageInput{
    width: 50px;
    height: 100%;
    margin: 0 5px;
}

