.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: darkgrey;

    &__items{
        padding:10px;
    }

    
    &__messages{
        padding:10px;
    }
}

.inputMessage{
   
}